.App {
  text-align: center; /* alreaday text is centered */ 
}
.My-shop-image {
  width: 1500px;
  height: 680px;
  overflow: auto;
  position: sticky;
  z-index: 10;
}
.Main-h1 {
  font-size: 45px;
  cursor: pointer;
  transition: 1s;
  font-weight: bold;
}
.Main-h1:hover {
  font-size: 50px;
}

.description {
  font-size: 30px;
  cursor: pointer;
  transition: 0.15s;
}
.description:hover {
  opacity: 0.5;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
